body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  text-align: center;
  margin-bottom: 40px;
}
section {
  margin-bottom: 30px;
}
ul {
  list-style-type: square;
  padding-left: 20px;
}

.footer {
  background-color: #a9a9a9;
  color: white;
  text-align: center;
  width: 100%;
  padding: 2rem;
}


nav {
  padding: 1.5rem;
  background-color: #a9a9a9;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
